* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 1.2em;
}

.layout {
    background-color: #E46486;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.output {
    color: lavender;
    background-color: #BC1743;
    padding: 1em 0.5em;
    text-align: right;
    font-family: monospace;
}

.curves {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cal-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #BC1743;
    border-top: none;
}

.row {
    width: 100%;
    border-top: 1px solid #BC1743;
    justify-content: center;
    align-content: center;
}

.ops {
    background-color: #E46486;
}

.size-1, .size-2, .size-3 {
    padding: 1em 0;
    border: none;
    border-radius: 0;
}

.size-1 { width: 24.08%; }
.size-2 { width: 49.4%; }
.size-3 { width: 74.5%; }

button:hover { background-color: #E3F8BC; }
button:active { background-color: #c3f36b; }